{% extends "panel_base.html" %}

{% block back %}{% endblock %}

{% block content %}
<div class="bigtile">
    <h1>Aktualne zamówienia</h1>
</div>

<br style="clear:both" />

<div class="midtileg">
    <h2>Aktualizuj bazę</h2>
</div>
<div class="smalltileo">
    <h3>Generuj zamówienie hurtowe</h3>
</div>
<div class="smalltileb">
    <h3>Wyszukiwanie zamówienia</h3>
</div>

<br style="clear:both" />

<div class="smalltileg">
    <h3>Dodaj zamówienie</h3>
</div>
<div class="smalltileg">
    <h3>Dodaj produkt</h3>
</div>
<div class="smalltileo">
    <h3>Klienci</h3>
</div>
<div class="smalltileb">
    <h3>Wszystkie zamówienia</h3>
</div>
{% endblock %}