{% extends "panel_base.html" %}

{% block back %}{% endblock %}

{% block content %}
<div class="orderlistview">
    <form action='.' method='POST'>{% csrf_token %}
        {{ form.as_p}}
        <input type='submit' value='Szukaj' />
    </form>

    <h3>Klienci</h3>
    <form action="." method="post">{% csrf_token %}
        <ul>
            {% for customer in customers %}
            <li><button type="submit">{{ customer.first_name }} {{ customer.last_name }} - {{ customer.phone }} </button></li>
            {% endfor %}
        </ul>
    </form>

</div>
{% endblock %}