{% extends "panel_base.html" %}

{% block back %}
<input type=button value="Wstecz" onClick="javascript:history.go(-1);">
{% endblock %}

{% block content %}
<div class="orderlistview">
    <h4>Wszystkie zamówienia</h4>
    <nav class="orderlistnav">
        <ul>
            {% for order, products in orders %}
            <li>
                #{{ order.id }} - {{ order.customer.first_name }} {{ order.customer.last_name }} 
                {% if order.finished is not None %}
                     --- Zamknięte: {{ order.finished|date:"d.m.Y H:i" }}
                {% elif order.cancelled is not None %}
                     --- Anulowane: {{ order.cancelled|date:"d.m.Y H:i" }}
                {% else %}
                     --- Złożone: {{ order.submitted|date:"d.m.Y H:i" }}
                {% endif %}
                <br/>
                {% for product in products %}
                     - {{ product.name }} <br/>
                {% endfor %}
            </li> <br/>
            {% empty %}
                <li>Brak zamówień</li>
            {% endfor %}
        </ul>
    </nav >
</div>
{% endblock %}