{% extends "panel_base.html" %}

{% block back %}
<input type=button value="Wstecz" onClick="javascript:history.go(-1);">
{% endblock %}

{% block content %}
<div class="orderlistview">
    <h1>Orders</h1>
    <ul>
        {% for order, products in orders %}
        <li>{{ order.submitted }} - {{ order.customer.first_name }} {{ order.customer.last_name }} - {{ order.customer.phone }} </li>
        <ul>
            {% for product in products %}
            <li>{{ product.name }}</li>
            {% empty %}
            <li>No products in order</li>
            {% endfor %}
        </ul>
        {% empty %} 
        <li>No orders found</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}