{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Księgarnia Jacek</title>
	
	<meta name="description" content="Oficjalna strona najlepszej polskiej księgarni. Sprawdź asortyment i zarządzaj zamówieniami!" />
	<meta name="keywords" content="książki, księgarnia, Jacek" />
	
	<link rel="stylesheet" href="{% static 'panel_style.css' %}" type="text/css" />
</head>
<body>
    <div class="bg">
        <div id="container">
            <div id="content">
                <div id="logo">
                    <h2>2019&copy; Księgarnia Jacek</h2>
                </div>

                {% block back %}{% endblock %}

                <br style="clear:both" />

                {% block content %}{% endblock %}
                
                <br style="clear:both" />

            </div>
        </div>
    </div>
</body>
