{% extends "base.html" %}
{% load staticfiles %}

{% block back %}<input type=button value="Wstecz" onClick="javascript:history.go(-1);">{% endblock %}

{% block content %}
<div style="width: 100%; display: table;">
    <div style="display: table-row; padding: 10px">
        <div class="map_tile; width:500px; display: table-cell;">
            <p style="font-size: 20px; font-weight: bold;text-align: center;">Kontakt z nami</p>
            <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2509.3324774675707!2d15.411755851498288!3d51.028479779459005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470f2a469f2def65%3A0xaa5ee9396ecc5c0f!2sKsi%C4%99garnia+Jacek!5e0!3m2!1spl!2spl!4v1559721198821!5m2!1spl!2spl" width="350" height="420" frameborder="0" style="border:0" allowfullscreen></iframe></center>
        </div>


        <div id="contact" style="width: 500px; height: 400px; display: table-cell; "><center>  
            <p style="font-size: 20px; margin: 0px; font-weight: bold">Dane firmy:</p>
            <p style="font-size: 15px">Firma Handlowa JACEK, Jacek Jezioro</p>
            <p style="font-size: 15px">ul. Partyzantów 52,</p>
            <p style="font-size: 15px">59-620 Gryfów Śląski</p>
            <p style="font-size: 15px">NIP: 616-112-62-70</p>

            <p style="font-size: 20px; margin-top: 44px; font-weight: bold">Godziny otwarcia:</p>
            <p style="font-size: 15px">pn-pt: 9:30 - 17:00</p>
            <p style="font-size: 15px">sob: 9:30 - 13:00</p>

            <p style="font-size: 20px; margin-top: 44px; font-weight: bold">Masz pytania?</p>
            <p style="font-size: 15px">telefon: <a href="tel:+48789789622">789-789-622</a></p>
            <p style="font-size: 15px">e-mail: <a href="mailto:ksiegarnia@gryfow.pl">ksiegarnia@gryfow.pl</a></p></center>
        </div>
    </div>
</div>
{% endblock %}


