{% extends "base.html" %}

{% block box %}
<a href="/znajdz-ksiazke/">
    <div class="tile2"> 
        <div ID="vertical_all"><h3>Znajdź książkę</h3></div>
    </div>
</a>

<a href="/sprawdz-status/">
    <div class="tile2">
        <div ID="vertical_all"><h3>Sprawdź status zamówienia</h3></div>
    </div>
</a>

<br style="clear:both" />

<a href="/zamowienia/">
    <div class="tile1"> 
        <div ID="vertical_all"><h3>Twoje zamówienia</h3></div>
    </div>
</a>

<a href="/konto/">
    <div class="tile1">
        <div ID="vertical_all"><h3>Twoje konto</h3></div>
    </div>
</a>
{% endblock %}