{% extends "panel_base.html" %}

{% block back %}{% endblock %}

{% block content %}
<a href="/panel/zamowienia/">
    <div class="bigtile">
        <div ID="vertical_all"><h1>Zamówienia</h1></div>
    </div>
</a>

<br style="clear:both" />

<a href="/panel/asortyment/">
    <div class="midtileg">
        <div ID="vertical_all"><h2>Asortyment</h2></div>
    </div>
</a>

<a href="/panel/zamowienie-hurtowe/">
    <div class="midtileo">
        <div ID="vertical_all"><h3>Generuj zamówienie hurtowe</h3></div>
    </div>
</a>

<br style="clear:both" />

<a href="/panel/dodaj-zamowienie/">
    <div class="smalltileg">
        <div ID="vertical_all"><h3>Dodaj zamówienie</h3></div>
    </div>
</a>

<a href="/panel/dodaj-produkt/">
    <div class="smalltileg">
        <div ID="vertical_all"><h3>Dodaj produkt</h3></div>
    </div>
</a>

<a href="/panel/klienci/">
    <div class="smalltileo">
        <div ID="vertical_all"><h3>Klienci</h3></div>
    </div>
</a>

<a href="/panel/dodaj-klienta/">
    <div class="smalltileo">
        <div ID="vertical_all"><h3>Dodaj klienta</h3></div>
    </div>
</a>
{% endblock %}