{% extends "panel_base.html" %}

{% block back %}{% endblock %}

{% block content %}
<a href="/panel/aktualne-zamowienia/">
    <div class="bigtile">
        <h1>Aktualne zamówienia</h1>
    </div>
</a>

<br style="clear:both" />

<a href="/panel/aktualizuj-baze/">
    <div class="midtileg">
        <h2>Aktualizuj bazę</h2>
    </div>
</a>

<a href="/panel/zamowienie-hurtowe/">
    <div class="smalltileo">
        <h3>Generuj zamówienie hurtowe</h3>
    </div>
</a>

<a href="/panel/znajdz-zamowienie/">
    <div class="smalltileb">
        <h3>Wyszukiwanie zamówienia</h3>
    </div>
</a>

<br style="clear:both" />

<a href="/panel/dodaj-zamowienie/">
    <div class="smalltileg">
        <h3>Dodaj zamówienie</h3>
    </div>
</a>

<a href="/panel/dodaj-produkt/">
    <div class="smalltileg">
        <h3>Dodaj produkt</h3>
    </div>
</a>

<a href="/panel/klienci/">
    <div class="smalltileo">
        <h3>Klienci</h3>
    </div>
</a>

<a href="/panel/wszystkie-zamowienia/">
    <div class="smalltileb">
        <h3>Wszystkie zamówienia</h3>
    </div>
</a>
{% endblock %}