{% extends "panel_base.html" %}

{% block back %}
<input type=button value="Wstecz" onClick="javascript:history.go(-1);">
{% endblock %}

{% block content %}
    <div style="height:50px;"></div>
    <a href="/panel/raport/">
        <div class="midtileg">
            <div id="vertical_all"><h3>Raport dzienny</h3></div>
        </div>
    </a>

    <a href="/panel/zaktualizuj-asortyment/">
        <div class="midtile">
            <div id="vertical_all"><h3>Aktualizuj o dostawę</h3></div>
        </div>
    </a>

    <div style="height:25px; clear:both;"></div>

    <a href="/panel/lista-produktow/">
        <div class="midtileg" style="margin-left:240px;">
            <div id="vertical_all"><h3>Zarządzanie ręczne</h3></div>
        </div>
    </a>
{% endblock %}