{% extends "base.html" %}

{% block back %}
<input type=button value="Wstecz" onClick="javascript:history.go(-1);"/>
{% endblock %}

{% block content %}
<div class="customerlistview">
    <center><h2>Znajdź książkę</h2></center>
    <div>
    <center><form action='.' method='POST'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' class="button" value='Wyszukaj' />
        </form></center>
    </div>
    <nav class="orderlistnav">
        <ul style='width:700px;'>
            {% for prod in products %}
            <li>
                {{ prod.name }} <div style='float:right'> Dostępnych: {{ prod.quantity }}</div>
            </li> <br/>
            {% empty %}
                <li>Nie znaleziono żadnych książek.</li>
            {% endfor %}
        </ul>
    </nav >
</div>
{% endblock %}