{% extends "panel_base.html" %}



{% block back %}<input type=button value="Wstecz" onClick="javascript:history.go(-1);">{% endblock %}

{% block content %}

<div class=view_order_left>
    <div id="vertical_all"; ><h1>Edycja produktu</h1></div>
</div>

<div class=view_order_right><br></br>
   <p style="font-size: 20px;font-weight: bold;">{{ product.name}}</p>
   <br></br>
   <div>
       
        <div style="float:left; width:50%; "><center>Dostępnych:</center></div> 
        <div style="float: right; width:50%; ">{{ product.quantity}}</div>
        
        <br style="clear:both" />
        
        <div style="float:left; width:50%;">Próg:</div> 
        <div style="float: right; width:50%;">{{ product.threshold}}</div>
   </div>
   <br></br>
   <div id="edit_product">
        <p style="font-size: 20px;font-weight: bold">Zaktualizuj</p>
        <div style="float:left; width:33%">Nazwa</div><div style="float:left; width:33%"">Dostępnych</div><div style="float:left;width:33%">Próg</div>
        <br style="clear:both" />
        <br></br>
        <div style="float:left; width:33%">FORM</div><div style="float:left; width:33%"">FORM</div><div style="float:left;width:33%">FORM</div>
    </div>
</div>

{% endblock %}