{% extends "panel_base.html" %}

{% block back %}<input type=button value="Wstecz" onClick="javascript:history.go(-1);">{% endblock %}

{% block content %}
<div class="stockdiv">
    <div >
        <h4><center>Wprowadź kolejno każdy sprzedany produkt</center></h4> <br/> <br/>
    <center><form action='.' method='POST'>{% csrf_token %}
            {{ form.as_table }}
            <div id=vertical_all>
                <input type='submit' value='Dodaj' /></center>
            </div>
        </form>
    </div>
</div>
{% endblock %}