{% extends "panel_base.html" %}

{% block back %}
<input type=button value="Wstecz" onClick="/panel/;"/>
{% endblock %}

{% block content %}
<div class="customerlistviewg">
    <h2><center>Asortyment</center></h2>
    <div >
            <center><form action='.' method='POST'> {% csrf_token %}
            {{ form.as_table }}
            <input type='submit' class="button" value='Wyszukaj' /></center>
        </form>
    </div>
    <nav class="orderlistnav">
        <ul style='width:700px; margin-left: 40px'>
            {% for prod in products %}
            <li><a href='/produkt/{{prod.id}}/edytuj'>
                {{ prod.name }} <div style='float:right'> Dostępnych: {{ prod.quantity }} Próg: {{ prod.threshold}}</div>
            </li> <br/>
            {% empty %}
                <li>Nie znaleziono żadnych książek.</li>
            {% endfor %}</a>
        </ul>
    </nav >
</div>
{% endblock %}