html, body
{
	height: 100%;
	margin: 0;
}

a:link {color: #ffffff;}      /* unvisited link */
a:visited {color: #ffffff;}   /* visited link */
a:hover {color: #f5f5f5;}     /* mouse over link */
a:active {color: #ffffff;}    /* selected link */

body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	overflow: hidden;
}

img
{ 
	max-height: 80%;
	height: auto;
	object-fit: contain;
}

.bg {
	background-image: url("background2.jpg");
	height: 100%;
	padding: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container
{
	width: 900px;
	height: 618px;
	padding: 20px;
	background-color: rgba(155, 155, 155, 0.4);
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

.side_tile
{
	width: 345px;
	height: 598px;
	margin: 10px;
	text-align: center;
	float: left;
}

#content
{
	width: 1000px;
	height: 100%;
	float: left;
}

.square
{
	width: 50%;
	float: left;
}

#logo
{
	width: 615px;
	margin: 10px;
	margin-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: right;
	float: left;
}

.bigtile
{
	border-radius: 25px;
	margin: 10px;
	width: 880px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.bigtile:hover
{
	background-color: #2084c2;
}

.midtile
{
	border-radius: 25px;
	margin: 10px;
	width: 430px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.midtileg
{
	border-radius: 25px;
	margin: 10px;
	width: 430px;
	height: 140px;
	background-color: #548235;
	float: left;
	text-align: center;
}

.smalltile
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.smalltileg
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #548235;
	float: left;
	text-align: center;
}

.smalltileg:hover, .midtileg:hover
{
	background-color: #385723;
}

.smalltileb
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #4472c4;
	float: left;
	text-align: center;
}

.smalltileb:hover
{
	background-color: #2f5597;
}

.smalltileo
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #c55a11;
	float: left;
	text-align: center;
}

.smalltileo:hover
{
	background-color: #843c0c;
}
