html, body
{
	height: 100%;
	margin: 0;
}

a:link {color: #ffffff;text-decoration: none;}
a:visited {color: #ffffff;text-decoration: none;}
a:hover {color: #ffffff;text-decoration: underline;}
a:active {color: #ffffff;text-decoration: none;}

body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	overflow: hidden;
}

img
{ 
	max-height: 80%;
	height: auto;
	object-fit: contain;
}

.bg {
	background-image: url("background2.jpg");
	height: 100%;
	padding: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container
{
	width: 900px;
	height: 618px;
	padding: 20px;
	background-color: rgba(155, 155, 155, 0.4);
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

.side_tile
{
	width: 345px;
	height: 598px;
	margin: 10px;
	text-align: center;
	float: left;
	display: table;
}

#content
{
	width: 900px;
	height: 100%;
	float: left;
}

.square
{
	width: 50%;
	float: left;
}

#logo
{
	width: 615px;
	margin: 10px;
	margin-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: right;
	float: left;
}

.bigtile
{
	border-radius: 25px;
	margin: 10px;
	width: 880px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	display: table;
}

.bigtile:hover
{
	background-color: #2084c2;
}

.midtile
{
	border-radius: 25px;
	margin: 10px;
	width: 430px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	display: table;
}

.midtileg
{
	border-radius: 25px;
	margin: 10px;
	width: 430px;
	height: 140px;
	background-color: #548235;
	float: left;
	text-align: center;
	display: table;
}

.smalltile
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	display: table;
}

.smalltileg
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #548235;
	float: left;
	text-align: center;
	display: table;
}

.smalltileg:hover, .midtileg:hover
{
	background-color: #385723;
}

.smalltileb
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #4472c4;
	float: left;
	text-align: center;
	display: table;
}

.smalltileb:hover
{
	background-color: #2f5597;
}

.smalltileo
{
	border-radius: 25px;
	margin: 10px;
	width: 205px;
	height: 140px;
	background-color: #c55a11;
	float: left;
	text-align: center;
	display: table;
}

.smalltileo:hover
{
	background-color: #843c0c;
}

.add_customer_div
{
	float:left;
	border-radius: 25px;
	margin: 10px;
	width: 430px;
	height: 75%;
	background-color: rgba(197, 90, 17, 0.8);
	text-align: center;
	display: table;
}

#vertical_all {
    display: table-cell;
    vertical-align: middle;
}

.input_field
{
	margin: 10px;
	width: 350px;
	border-radius: 10px;
	height: 50;
	background-color: #ffffff;
	text-align: center;
}

.add_product_div
{
	float:left;
	border-radius: 25px;
	margin: 10px;
	width: 430px;
	height: 75%;
	background-color: rgba(84, 130, 53, 0.8);
	text-align: center;
	display: table;
}

input[type=submit] {
	padding:5px 15px; 
	margin: 10px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

button[type=button] {
	border-radius: 20px;
	padding: 20px;
	background-color:rgb(68, 114, 196);
	height: 10px;
	width: 60px;
	margin-top: 20px;
	margin-left: 140px;
	text-align: center;
	float: left; 
}

.return
{
	border-radius: 20px;
	background-color:#c55a11;
	height: 40px;
	width: 80px;
	margin-top: 20px;
	margin-left: 140px;
	text-align: center;
	float: left;
	display: table;
}

.orderlistview
{
	border-radius: 20px;
	padding: 20px;
	font-size: 18px;
	background-color:rgba(68, 114, 196, 0.8);
	height: 75%;
}

.customerlistview
{
	border-radius: 20px;
	padding: 20px;
	font-size: 18px;
	background-color:rgba(68, 196, 68, 0.8);
	height: 75%;
}

nav ul{
	height: 320px;
	overflow: hidden;
	overflow-y: scroll;
}

.orderaddview
{
	border-radius: 20px;
	padding: 20px;
	background-color:rgba(68, 114, 196, 0.8);
	height: 75%;
}

.order_col1
{
	float: left;
	width: 50%;
}
.order_col2
{
	float: left;
	width: 50%;
}

.choicebutt
{
	margin-left: 20px;
}

input[type=button] {
	border-radius: 20px;
	background-color: #548235; /* Green */
	border: none;
	margin-left: 130px;
	margin-top: 20px;
	width: 80px;
	height: 40px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

input[type=button]:hover {
    background-color:#385723;
}

.view_order_left{
	float:left;
	border-radius: 25px;
	margin: 10px;
	width: 300px;
	height: 75%;
	background-color: rgba(84, 130, 53, 0.8);
	text-align: center;
	display: table;
}

.view_order_right{
	float:left;
	border-radius: 25px;
	margin: 10px;
	width: 560px;
	height: 75%;
	background-color: rgba(84, 130, 53, 0.8);
	text-align: center;
	display: table;
}

.circle {
	background: rgb(243, 243, 243);
	border-radius: 100%;
	height: 150px;
	width: 150px;
	color: black;
	display: table;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
  }