html, body
{
	height: 100%;
	margin: 0;
}

a:link {color: #ffffff;}
a:visited {color: #ffffff;}
a:hover {color: #f5f5f5;}
a:active {color: #ffffff;}

body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	overflow: hidden;
}

img
{ 
	max-height: 80%;
	height: auto;
	object-fit: contain;
}
  
.bg {
	background-image: url("background2.jpg");
	height: 100%;
	padding: 50px;
	background-position: center;
	background-size: cover;
}

#container
{
	width: 1000px;
	height: 618px;
	padding: 20px;
	background-color: rgba(155, 155, 155, 0.4);
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

.side_tile
{
	width: 345px;
	height: 598px;
	margin: 10px;
	text-align: center;
	float: left;
}

#content
{
	width: 635px;
	height: 598px;
	float: left;
}

.square
{
	width: 50%;
	float: left;
}

#logo
{
	width: 615px;
	margin: 10px;
	margin-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: center;
	float: left;
}

.tile1
{
	border-radius: 25px;
	margin: 10px;
	width: 297px;
	height: 183px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	display: table;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	border-radius: 25px;
	margin: 10px;
	width: 297px;
	height: 183px;
	background-color: #666666;
	float: left;
	text-align: center;
	display: table;
}

.tile2:hover
{
	background-color: #555555;
}


a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.tilelinkhtml5
{
	color: #ffffff;
	text-decoration: none;
}


#vertical_all {
    display: table-cell;
    vertical-align: middle;
}

.contact{
	float:left;
	border-radius: 25px;
	/* margin: 10px; */
	width: 90%;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	display: table;
}

.map_tile
{
	padding-top: 14px;
	width: 345px;
	height: 598px;
	margin: 10px;
	text-align: center;
	float: left;
}