html, body
{
	height: 100%;
	margin: 0;
}

a:link {color: #ffffff;text-decoration: none;}
a:visited {color: #ffffff;text-decoration: none;}
a:hover {color: #ffffff;text-decoration: underline;}
a:active {color: #ffffff;text-decoration: none;}

body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	overflow: hidden;
}

img
{ 
	max-height: 80%;
	height: auto;
	object-fit: contain;
}
  
.bg {
	background-image: url("background2.jpg");
	height: 100%;
	padding: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container
{
	width: 900px;
	height: 618px;
	padding: 20px;
	background-color: rgba(155, 155, 155, 0.5);
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

.side_tile
{
	width: 345px;
	height: 598px;
	margin: 10px;
	text-align: center;
	float: left;
}

#content
{
	width: 900px;
	height: 100%;
	float: left;
}


.square
{
	width: 50%;
	float: left;
}

#logo
{
	width: 615px;
	margin: 10px;
	margin-bottom: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: right;
	float: left;
}

.tile1
{
	border-radius: 25px;
	margin: 10px;
	width: 297px;
	height: 183px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	display: table;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	border-radius: 25px;
	margin: 10px;
	width: 297px;
	height: 183px;
	background-color: #666666;
	float: left;
	text-align: center;
	display: table;
}

.tile2:hover
{
	background-color: #555555;
}


a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.tilelinkhtml5
{
	color: #ffffff;
	text-decoration: none;
}


#vertical_all {
    display: table-cell;
    vertical-align: middle;
}

#contact{
	margin-left: 40px;
	border-radius: 25px;
	/* margin: 10px; */
	background-color: rgba(155, 155, 155, 0.8);
}

.map_tile
{
	width: 345px;
	height: 598px;
	text-align: center;
	float: left;
}

input[type=button] {
	border-radius: 20px;
	background-color: #548235; /* Green */
	border: none;
	margin-left: 130px;
	margin-top: 20px;
	width: 80px;
	height: 40px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

input[type=button]:hover {
    background-color:#385723;
}