html, body
{
	height: 100%;
	margin: 0;
}

body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	overflow: hidden;
}

img
{ 
	max-height: 80%;
	height: auto;
	object-fit: contain;
}
  
.bg {
	background-image: url("background2.jpg");
	height: 100%;
	padding: 50px;
	background-position: center;
	background-size: cover;
}

#container
{
	width: 1000px;
	height: 618px;
	padding: 20px;
	background-color: rgba(155, 155, 155, 0.4);
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

.side_tile
{
	width: 345px;
	height: 598px;
	margin: 10px;
	text-align: center;
	float: left;
}

#content
{
	width: 635px;
	height: 598px;
	float: left;
}

.square
{
	width: 50%;
	float: left;
}

#logo
{
	width: 615px;
	margin: 10px;
	margin-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: right;
	float: left;
}

.tile1
{
	border-radius: 25px;
	margin: 10px;
	width: 297px;
	height: 183px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	border-radius: 25px;
	margin: 10px;
	width: 297px;
	height: 183px;
	background-color: #666666;
	float: left;
	text-align: center;
}

.tile2:hover
{
	background-color: #555555;
}

.tile3
{
	border-radius: 25px;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	border-radius: 25px;
	margin: 10px;
	width: 420px;
	height: 82px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 26px;
	padding: 30px;
	line-height: 150%;
}

.tile5
{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #666666;
	text-align: justify;
	padding: 30px;
}

.yt
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
}

.yt:hover
{
	background-color: #c83237;
}

.fb
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
}

.fb:hover
{
	background-color: #3557a2;
}

.gplus
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d95333;
	float: left;
}

.gplus:hover
{
	background-color: #c84222;
}

.tw
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}

.tw:hover
{
	background-color: #2084c2;
}

a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.tilelinkhtml5
{
	color: #ffffff;
	text-decoration: none;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 105px;
	height: 142px;
}